{% extends 'base.html' %}

{% load thumbnail %}

{% block 'content' %}
    <div id="overview">
    {% for picture in object_list %}
        <div class="post">
            <div class="thumbimage">
            {% thumbnail picture.fil.name "180x180" crop="center" upscale=False as im %}
            <img src="/media/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %}
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}

{% block 'infiniscroll' %}
    <div id="infiniscroll">Fetching more posts</div>
{% endblock %}

{% block 'extrascript' %}
    {% include "upload/common.html" %}
{% endblock %}
