{% extends 'base.html' %}

{% load thumbnail %}

{% block 'top' %}
    <a href="/logout" id="logoutbutton">Log out</a>
    <div id="uploadholder">
        <div id="uploadbutton">
            Upload
        </div>
        <div id="formholder">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="fileinputelement" name="filelist" value="Upload" multiple="" onchange="show_uploading(); this.parentNode.submit()" />
            </form>
        </div>
    </div>
{% endblock %}

{% block 'content' %}
    <div id="overview">
    {% for picture in object_list %}

        {% ifchanged picture.uploaded.hour %}
        <div class="dateholder">{{ picture.uploaded|date:"j. F Y" }}</div>
        {% endifchanged %}

        <div class="post">
            <div class="thumbimage">
            {% thumbnail picture.fil.name "180x180" crop="center" upscale=False as im %}
            <img src="/media/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

