{% extends 'base.html' %}

{% load thumbnail %}

{% block 'content' %}
    {% for picture in object_list %}

        {% ifchanged picture.uploaded.hour %}
        <div class="dateholder">{{ picture.uploaded|date:"j. F Y" }}</div>
        {% endifchanged %}

        <div class="post">
            <div class="image">
            {% thumbnail picture.fil.name "680" upscale=False as im %}
            <img src="/media/{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block 'infiniscroll' %}
    <div id="infiniscroll">Fetching more posts</div>
{% endblock %}

{% block 'extrascript' %}
    <script>
            // Functions to do with infinite scrolling
            var currentPage = {{ page.number }};
            var hasMore = {{ page.has_next|lower }};
            var totaltPages = {{ paginator.num_pages }};

            activateScrollListener();

            function activateScrollListener() {
                window.addEventListener('scroll', checkHeight, false);
            }

            function deActivateScrollListener() {
                window.removeEventListener('scroll', checkHeight, false);
            }

            function checkHeight() {
                if (document.body.scrollHeight - document.body.scrollTop < 800) {
                    deActivateScrollListener();
                    fetchMorePosts();
                }
            }

            function fetchMorePosts() {
                if (!hasMore || currentPage >= totaltPages) {
                    document.getElementById('infiniscroll').innerHTML = 'No more posts';
                    return
                }

                currentPage += 1;

                xmlhttpPost('/ajaxpage/' + currentPage + '/');
            }

            function updatepage(data) {
                var div = document.createElement('div');
                div.innerHTML = data;
                document.getElementById('content').appendChild(div);
                activateScrollListener();
            }

            function xmlhttpPost(strURL) {
                var xmlHttpReq = false;
                var self = this;
                // Mozilla/Safari
                if (window.XMLHttpRequest) {
                    self.xmlHttpReq = new XMLHttpRequest();
                }
                // IE
                else if (window.ActiveXObject) {
                    self.xmlHttpReq = new ActiveXObject("Microsoft.XMLHTTP");
                }
                self.xmlHttpReq.open('POST', strURL, true);
                self.xmlHttpReq.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                self.xmlHttpReq.setRequestHeader("X-CSRFToken", getCsrf());
                self.xmlHttpReq.onreadystatechange = function() {
                    if (self.xmlHttpReq.readyState == 4) {
                        updatepage(self.xmlHttpReq.responseText);
                    }
                }
                self.xmlHttpReq.send();
            }

            function getCsrf() {
                // TODO - make it proper
                // This hack is possibly a bit too quick ...
                // Will probably break if any cookie is added after the csrftoken
                var value = null;
                if (document.cookie && document.cookie != '') {
                    var cookie = document.cookie.split('; csrftoken=');
                    value = cookie[1];
                }
                return value;
            }
        </script>
{% endblock %}
