<html>
    <head>
        <title>Fotos</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <div id="top">
        {% block 'top'%}
            <div id="navigation">
                <a href="/stream" id="streambutton"><div>&nbsp;</div>Stream</a>
                <a href="/overview" id="overviewbutton"><div>&nbsp;</div>Overview</a>
                <a href="/logout" id="logoutbutton" title="Log out of Fotos">Log out</a>
            </div>
            <div id="uploadholder">
                <div id="uploadbutton">
                    Upload
                </div>
                <div id="formholder">
                    <form method="POST" action="/upload" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" id="fileinputelement" name="filelist" value="Upload" multiple="" onchange="show_uploading(); this.parentNode.submit()" />
                    </form>
                </div>
            </div>
        {% endblock %}
        </div>
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
        <script type="text/javascript">
            var uploadbutton =  document.getElementById('uploadbutton');
            var fileinputelement = document.getElementById('fileinputelement');

            fileinputelement.addEventListener('mousedown', function() { tUpload(); }, false);
            fileinputelement.addEventListener('mouseup', function() { tUpload(); }, false);
            fileinputelement.addEventListener('mouseout', function() { tUpload(true); }, false);

            function tUpload(turnoff) {
                if (turnoff) {
                    uploadbutton.className = '';
                } else {
                    uploadbutton.className = (uploadbutton.className == 'active') ? '' : 'active';
                }
            }

            function show_uploading(d) {
                // Set the text of the upload button to reflect the status
                var dots = '';
                var d = (d == undefined) ? 0 : (d > 3) ? 0 : d;
                var space = (d != 0) ? ' ' : '';
                for (var i=0;i<d;i++) {
                    dots += '.'
                }
                uploadbutton.innerHTML = 'Uploading' + space + dots;
                window.setTimeout(show_uploading, 800, d+1)
            }
        </script>
    </body>
</html>
