<html>
    <head>
        <title>Fotos</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <div id="top">
        {% block 'top'%}
            <div id="navigation">
                <a href="/stream" id="streambutton"><div>&nbsp;</div>Stream</a>
                <a href="/overview" id="overviewbutton"><div>&nbsp;</div>Overview</a>
                <a href="/logout" id="logoutbutton" title="Log out of Fotos">Log out</a>
            </div>
            <div id="uploadholder">
                <div id="uploadbutton">
                    Upload
                </div>
                <div id="formholder">
                    <form method="POST" action="/upload/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" id="fileinputelement" name="filelist" value="Upload" multiple="" onchange="show_uploading(); this.parentNode.submit()" />
                    </form>
                </div>
            </div>
        {% endblock %}
        </div>
        <div id="content">
          {% block 'content' %}
          {% endblock %}
        </div>
        <div id="infiniscroll">Fetching more posts</div>
        <script type="text/javascript">
            var currentPage = {{ page.number }};
            var hasMore = {{ page.has_next|lower }};
            var totaltPages = {{ paginator.num_pages }};

            var uploadbutton =  document.getElementById('uploadbutton');
            var fileinputelement = document.getElementById('fileinputelement');

            fileinputelement.addEventListener('mousedown', function() { tUpload(); }, false);
            fileinputelement.addEventListener('mouseup', function() { tUpload(); }, false);
            fileinputelement.addEventListener('mouseout', function() { tUpload(true); }, false);

            activateScrollListener();

            function activateScrollListener() {
                window.addEventListener('scroll', checkHeight, false);
            }

            function deActivateScrollListener() {
                window.removeEventListener('scroll', checkHeight, false);
            }

            function checkHeight() {
                if (document.body.scrollHeight - document.body.scrollTop < 800) {
                    deActivateScrollListener();
                    fetchMorePosts();
                }
            }

            function tUpload(turnoff) {
                if (turnoff) {
                    uploadbutton.className = '';
                } else {
                    uploadbutton.className = (uploadbutton.className == 'active') ? '' : 'active';
                }
            }

            function show_uploading(d) {
                // Set the text of the upload button to reflect the status
                var dots = '';
                var d = (d == undefined) ? 0 : (d > 3) ? 0 : d;
                var space = (d != 0) ? ' ' : '';
                for (var i=0;i<d;i++) {
                    dots += '.'
                }
                uploadbutton.innerHTML = 'Uploading' + space + dots;
                window.setTimeout(show_uploading, 800, d+1)
            }

            function fetchMorePosts() {
                if (!hasMore || currentPage >= totaltPages) {
                    document.getElementById('infiniscroll').innerHTML = 'No more posts';
                    return
                }

                currentPage += 1;

                xmlhttpPost('/ajaxpage/' + currentPage + '/');
            }

            function updatepage(data) {
                var div = document.createElement('div');
                div.innerHTML = data;
                document.getElementById('content').appendChild(div);
                activateScrollListener();
            }

            function xmlhttpPost(strURL) {
                var xmlHttpReq = false;
                var self = this;
                // Mozilla/Safari
                if (window.XMLHttpRequest) {
                    self.xmlHttpReq = new XMLHttpRequest();
                }
                // IE
                else if (window.ActiveXObject) {
                    self.xmlHttpReq = new ActiveXObject("Microsoft.XMLHTTP");
                }
                self.xmlHttpReq.open('POST', strURL, true);
                self.xmlHttpReq.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                self.xmlHttpReq.setRequestHeader("X-CSRFToken", getCsrf());
                self.xmlHttpReq.onreadystatechange = function() {
                    if (self.xmlHttpReq.readyState == 4) {
                        updatepage(self.xmlHttpReq.responseText);
                    }
                }
                self.xmlHttpReq.send();
            }

            function getCsrf() {
                var value = null;
                if (document.cookie && document.cookie != '') {
                    var cookie = document.cookie.split('; csrftoken=');
                    value = cookie[1];
                }
                return value;
            }

        </script>
    </body>
</html>
