{% extends 'base.html' %}

{% block 'top'%}
    <div id="navigation">
        <a href="/stream" id="streambutton"><div>&nbsp;</div>Stream</a>
        <a href="/overview" id="overviewbutton"><div>&nbsp;</div>Overview</a>
        <a href="/logout" id="logoutbutton" title="Log out of Fotos">Log out</a>
    </div>
{% endblock %}

{% block 'content' %}
<div id="content">
    <div id="front">
        <div id="uploadholder">
            <div id="uploadbutton">
                Upload
            </div>
            <div id="formholder">
                <form method="POST" action="/upload" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" id="fileinputelement" name="filelist" value="Upload" multiple="" onchange="show_uploading(); this.parentNode.submit()" />
                </form>
            </div>
        </div>
        <h2>Press 'Upload' to select and  upload files</h2>
    </div>
</div>
{% endblock %}
