<a href="/logout" id="logoutbutton">Log out</a>

{% if object_list %}
    <div id="uploadholder">
        <div id="uploadbutton">
            Upload
        </div>
        <div id="formholder">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="fileinputelement" name="filelist" value="Upload" multiple="" onchange="show_uploading(); this.parentNode.submit()" />
            </form>
        </div>
    </div>
{% endif %}
